<h6>Dashboard</h6>
<h3>
    Welcome <%= name %>!
</h3>
<div class="container">
    <div class="row justify-content-center mt-5">
        <ul class="row list-unstyled">
            <% for(let i=0; i < foods.length; i++) {%>
                <li class="col-6 justify-content-between mt-5">
                    <a href="/foods/<%= foods[i]._id%>">
                        <img class="img-fluid" src="<%= foods[i].image%>">
                    </a>
                </li>
                <% } %>
        </ul>
    </div>
</div>