<h3>Edit Food</h3>
<div class="row">
    <form action="/foods" method="POST" class="col s12">
        <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field">
                <input type="text" id="name" name="foodName" value="<%= food.foodName %> ">
                <label for="foodName">Name</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select id="foodCategory" name="foodCategory" value="<%= food.foodCategory %> ">
                    <option value="Dairy">Dairy</option>
                    <option value="Gluten">Gluten</option>
                    <option value="Nut">Nut</option>
                </select>
                <label for="foodCategory">Category</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h6>Ingredients</h6>
                <textarea id="ingredients" class="materialize-textarea" name="ingredients">
                    <%= food.ingredients %>
                </textarea>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <button>Add Image</button>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn red">Cancel</a>
        </div>
    </form>
</div>