<h1 class="center-align">Search for recipes using the Spoonacular API!</h1>
<form action="/recipes/results" method="POST">
    <div class="row">
        <label for="recipeSearch">Search</label>
        <input type="text" name="recipeSearch" id="recipeSearch">
        <input type="submit" class="btn">
    </div>
</form>