body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    width: 80%;
    min-width: 601px;
}

.login-container {
    width: 500px;
}

form.signup,
form.login {
    max-width: 500px;
    margin: 100px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border: 3px solid var(--primary);
    font-size: 1.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    font-size: large;
}
